model = Model.findOrCreate "Page"
model.columns = [
  { name: "active", value: (r) -> if r.active then "Yes" else "No" },
  { name: "rank" },
  { name: "parent_page_id", value: (r) -> r.parent_page?.name ? "None" },
  { name: "name" },
  { name: "path" },
  { name: "updated_at", value: (r) -> r.updated_at.date() },
  { name: "actions", edit: true, destroy: true, view: (r) ->
    <a key="visit" href="/#{r.path}" target="_blank">Visit</a>
  }
]

form = new Form()
form.add "parent_page_id", "select", model: "Page", allow_blank: true
form.add "active", "checkbox"
form.add "root", "checkbox", label: "If checked, this page will be available at <a href='/' target='_blank'>#{location.origin}</a>"
form.add "rank", "number"
form.add "name", "text"
form.add "template", "select", options: <%= Tomify::Page.templates %>
form.add "path", "text"
form.add "title", "text"
form.add "description", "textarea"
form.add "cover_image", "file"
form.add "share_image", "file"
form.add "text", "markdown"

Component.create "Pages.Index.Container", render: -> <Index.Container name="Page" form={form} />
