model = Model.findOrCreate "Admin.Page"
model.columns = [
  { name: "active", value: (r) -> if r.active then "Yes" else "No" },
  { name: "rank" },
  { name: "parent_id", value: (r) -> r.parent?.name ? "None" },
  { name: "sidebar_id", value: (r) -> r.sidebar?.name ? "None" },
  { name: "name" },
  { name: "path" },
  { name: "cover_image", value: (r) ->
    return "None" unless r.cover_image.url
    <a href={r.cover_image.url} target="_blank">View</a>
  },
  { name: "share_image", value: (r) ->
    return "None" unless r.share_image.url
    <a href={r.share_image.url} target="_blank">View</a>
  },
  { name: "updated_at", value: (r) -> r.updated_at.date() },
  { name: "actions", edit: true, destroy: true, view: (r) ->
    <a key="visit" href="/#{r.path}" target="_blank">Visit</a>
  }
]

form = new Form "horizontal"
form.add "parent_id", "select", model: "Admin.Page", allowBlank: true
form.add "sidebar_id", "select", model: "Admin.Sidebar", allowBlank: true
form.add "active", "checkbox"
form.add "root", "checkbox", label: "If checked, this page will be available at <a href='/' target='_blank'>#{location.origin}</a>"
form.add "rank", "number"
form.add "name", "text"
form.add "template", "select", options: <%= Tomify::Page.templates %>
form.add "path", "text"
form.add "title", "text"
form.add "description", "textarea"
form.add "cover_image", "file"
form.add "share_image", "file"
form.add "text", "markdown"

Component.create "Admin.Pages.Index.Container", render: -> <Index.Container name="Admin.Page" form={form} />
