.container-fluid
  .row.text-center
    - if setting(:allow_signup)
      .col-md-8.col-md-offset-2
        .row
          .col-md-6
            %h3 Sign In
            = render "tomify/sessions/form"
          .col-md-6
            %h3 Sign Up
            = render "tomify/users/form"
    - else
      .col-md-4.col-md-offset-4
        %h3 Sign In
        = render "tomify/sessions/form"
