.container-fluid
  .row.text-center
    .col-md-4.col-md-offset-4
      %h3 Forgot Password
      = form_for :user, url: reset_password_path, remote: true, html: { id: "reset-password-form" } do |f|
        .form-group
          = email_field_tag :email, nil, placeholder: "Email", required: true, class: "form-control"
        .form-group
          = f.submit "Submit", class: "btn btn-primary"
