.public.content {
  h1 { color: $brand; text-align: center; }
  h2, h3, h4, h5, h6 { font-weight: bold; }
  table, p, li { text-align: left; }
  table { width: 100%; }
  div > ul > li {
    margin-top: 5px;
    font-size: 18px;
    &:before {
      top: 1px;
      left: 1px;
    }
    :not(p) { font-size: 14px; padding-left: 20px; }
  }
  ul {
    list-style-type: none;
    padding-left: 0;
    li {
      position: relative;
      padding-left: 25px;
      &:before {
        position: absolute;
        top: 0;
        left: 0;
        font-family: "FontAwesome";
        content: "\f058";
        color: $brand;
      }
    }
  }
  li ul li:before { content: "\f055"; }

  .page {
    h2, h3 { text-align: center; }
  }
}
