.page, .sidebar {
  h1 { color: $brand; }
  h2, h3 { font-style: italic; }
  h2 { font-size: 1.5em; }
  h3 { font-size: 1.25em; }
  h2, h3, table, p, li { text-align: left; }
  table { width: 100%; }
  > ul > li {
    margin-top: 10px;
    font-size: 24px;
    &:before { top: -1px; }
    :not(p) { font-size: 14px; }
  }
  ul {
    list-style-type: none;
    padding-left: 0;
  }
  li {
    position: relative;
    padding-left: 25px;
    &:before {
      position: absolute;
      top: 0;
      left: 0;
      font-family: "FontAwesome";
      content: "\f058";
      color: $brand;
    }
    ul li:before { content: "\f055"; }
  }
}

.sidebar {
  h1, h2, h3, h4, h5, h6 { margin-top: 0; }
}
