- if app.header_image.present? && app.header_text.present?
  .navbar.navbar-default.center.header
    .container-fluid
      .row
        .col-lg-8.col-lg-offset-2
          .row
            .col-sm-3
              - if app.header_image.present?
                .navbar-header
                  = link_to root_path, class: "navbar-brand" do
                    = image_tag(app.header_image.url, alt: "Logo")
            .col-sm-9
              .navbar-text
                %h3= app.header_text
